/*
 * --- GLOBAL STYLES ---
 */
 html,
 body {
   height: 100vh;
   margin: 0;
 }
 
 body {
   /* makes sure that the padding and border are included in the total width and height of the elements. */
   box-sizing: border-box;
 
   font-family: "Optima";
 
   background-color: #FFF8E0;

   font-size: 62.5%;
 }
 
 .container{
   height: 100vh;
 }
 
 .grid {
   display: grid;
 }
 
 .container.grid {
   grid-template-rows: auto 1fr auto;
   grid-gap: calc(36 / 1920 * 100vw);
 }
 
 /*
  * --- TOP SECTION STYLES ---
  */
 .container .top.grid {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   padding-left: calc(140 / 1920 * 100vw);
   padding-right: calc(140 / 1920 * 100vw);
 
   height: 12.6vh;
 
   font-family: "Playfair Display";
   /* border: 1px solid red; */
 }
 
 .top.grid ul {
   grid-column: 3 / 11;
   justify-self: center;
   align-self: center;
   list-style: none;
 
   grid-gap: calc(16 / 1080 * 100vh);
 
   color: #00265b;
 }
 
 .top.grid a {
   grid-column: 12 /13;
   justify-self: end;
   align-self: center;
   text-decoration: none;
 }
 
 .top.grid a img{
   height: calc(60 / 1080 * 100vh);
 }
 
 .title {
   /* font-size: calc(30 / 1080 * 100vh); */
   font-size: 3em;
   justify-self: center;
 }
 
 .subtitle {
   /* font-size: calc(18 / 1080 * 100vh); */
   font-size: 1.8em;
   justify-self: center;
 }
 
 /*
  * --- MIDDLE SECTION STYLES ---
  */
 .container .middle.grid {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   padding-left: calc(140 / 1920 * 100vw);
   padding-right: calc(140 / 1920 * 100vw);
   grid-gap: 1em;
   height: 100%;
 }
 
 /* --- MIDDLE - LEFT SECTION */
 .middle.grid .left-section.grid{
   grid-column: 1 / 3;
   justify-self: start;
   align-self: center;
 
   grid-template-rows: 1fr auto 1fr;
 
   height: 100%;
   grid-gap: calc(12 / 1080 * 100vh);
   font-family: 'Avenir Next Condensed';
   /* font-size: calc(16 / 1080 * 100vh); */
   font-size: 1.6em;
 }
 
 .left-section.grid img{
   grid-row: 2 / 3;
   height: calc(189 / 1080 * 100vh);
 }
 
 .left-section.grid .date{
   grid-row: 3 / 4;
   justify-self: center;
 }
 
 .date p{
   padding-bottom: calc(8 / 1080 * 100vh);
 }
 
 /* --- MIDDLE - MIDDLE SECTION */
 .middle.grid .middle-section.grid{
   grid-column: 3 / 11;

   grid-template-rows: 1fr auto auto;

   height: 100%;
   width: 100%;

 }

 .middle-section.grid .top-section.grid{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(150 / 1920 * 100vw) 1fr;

  height: 100%;
  width: 100%;
 }

/*--- heart ---*/
.middle-section.grid .heart{
  grid-column: 1 / 3;
  grid-row: 1 /4;

  display: flex;
  flex-direction: column;
  justify-self: center;
}

.heart-top{
  display: inline-flex;
  position: relative;
}

.semicircle-upper{
    width: calc(300 / 1920 * 100vw);
    height: calc(150 / 1920 * 100vw);
    border-radius: calc(150 / 1920 * 100vw) calc(150 / 1920 * 100vw) 0 0;
    background-color: #A8002E;
  }

.heart .semicircle-lower{
  width: calc(600 / 1920 * 100vw);
  height: calc(300 / 1920 * 100vw);
  border-radius: 0 0 calc(300 / 1920 * 100vw) calc(300 / 1920 * 100vw);
  background-color: #A8002E;
}

.heart div p{
  font-size: 2.2em;
  color: #FBFF87;
}

.invite-text1{
  position: absolute;
  left: 10%;
  top: 20%;

  width: calc(194 / 1920 * 100vw);
  height: auto;

  z-index: 2;
}

 /*--- end of heart ---*/
.top-section.grid .center-point{
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  position: relative;
}

.center-point .image-invited{
  height: calc(56 / 1920 * 100vw);

  position: absolute;
  top: calc(300 / 1920 * 100vw);
  left: calc(-143 / 1920 * 100vw);
}

.center-point .round-image{
  height: calc(150 / 1920 * 100vw);
}

/* cos(15deg)=0.966  sin(15deg)=0.259
** cos(40deg)=0.766 sin(40deg)=0.643
** cos(65deg)=0.423 sin(65deg)=0.906
*/
.top-section.grid .image1{
  position: absolute;
  top: calc((466 * 0.259 - 75) / 1920 * 100vw);
  left: calc((-466 * 0.966 - 75) / 1920 * 100vw);
}

.top-section.grid .image2{
  position: absolute;
  top: calc((466 * 0.643 - 75)/ 1920 * 100vw);
  left: calc((-466 * 0.766 - 75) / 1920 * 100vw);
}

.top-section.grid .image3{
  position: absolute;
  top: calc((466 * 0.906 - 75)/ 1920 * 100vw);
  left: calc((-466 * 0.423 - 75) / 1920 * 100vw);
}

.top-section.grid .image4{
  position: absolute;
  top: calc((466 - 75)/ 1920 * 100vw);
  left: calc((-75) / 1920 * 100vw);
}

.top-section.grid .image5{
  position: absolute;
  top: calc((466 * 0.906 - 75)/ 1920 * 100vw);
  left: calc((466 * 0.423 - 75) / 1920 * 100vw);
}

.top-section.grid .image6{
  position: absolute;
  top: calc((466 * 0.643 - 75)/ 1920 * 100vw);
  left: calc((466 * 0.766 - 75) / 1920 * 100vw);
}

.top-section.grid .image7{
  position: absolute;
  top: calc((466 * 0.259 - 75) / 1920 * 100vw);
  left: calc((466 * 0.966 - 75) / 1920 * 100vw);
}
 
 /* --- MIDDLE - RIGHT SECTION */
 .middle.grid .right-section{
   grid-column: 11 / 13;
   grid-template-rows: 1fr auto;
  
   grid-gap: calc(24 / 1080 * 100vh);
 }
 
 .right-section p{
   justify-self: end;
   align-self: flex-end;
 
   /* font-size: calc(25 / 1080 * 100vh); */
   font-size: 2.5em;
   color: #00265B;
 }
 
 .right-section img{
   height: calc(150 / 1920 * 100vw);
   /* width: 100%; */
   justify-self: end;
 }
 
 /*
  * --- FOOTER SECTION STYLES ---
  */
 footer.grid {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 
   padding-top: calc(8 / 1080 * 100vh);
   padding-left: calc(140 / 1920 * 100vw);
   padding-right: calc(140 / 1920 * 100vw);
 
   height: calc(100 / 1080 * 100vh);
   border: 1px solid #bcbec0;
 }
 
 footer img {
   height: calc(94 / 1080 * 100vh);
   grid-column: 1 / 3;
 }
 
 footer .info {
   grid-column: 3 / 11;
   justify-self: center;
   align-self: center;
 }
 
 footer .info li {
   display: inline-block;
   padding-left: calc(24 / 1920 * 100vw);
 
   /* font-size: calc(16 / 1920 * 100vw); */
   font-size: 1.6em;
   color: #00265b;
 }
 
 footer #social-links {
   justify-self: center;
   align-self: center;
   grid-column: 11 / 13;
 }
 
 footer #social-links li {
   display: inline-block;
   padding-left: calc(47 / 1920 * 100vw);
 
   /* font-size: calc(30 / 1920 * 100vw); */
   font-size: 3em;
 }
 
 .fa-facebook-square {
   color: #dba24e;
 }
 
 .fa-twitter-square {
   color: #f0ba3c;
 }
 
 .fa-instagram {
   color: #e6a039;
 }
 