/*
 * --- GLOBAL STYLES ---
 */
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Optima", sans-serif;
  font-size: 62.5%;

  color: #00265b;
}

/*
** --- NAVBAR STYLES ---
**/
#top-bar {
  height: 15%;
  z-index: 3;
}

.title {
  font-size: 2em;
  letter-spacing: 0.02em;
}

.subtitle {
  font-size: 1.4em;
  letter-spacing: 0.01em;
}

#home-button {
  visibility: hidden;
}


#btn-navbar {
  position: absolute;
  right: 0;

  color: rgba(0,0,0,.5);

  width: 35px;
  height: 35px;

  font-size: 1.2em;

  border-radius: 50%;
  border: 1px solid #00265b;
  /* border-color:red; */
}

/* 
** --- MIDDLE SECTION ---
*/
#logo a img {
  width: 50%;
}

#date {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.6em;
  color: black;
}

/*
 * --- FOOTER STYLES ---
 */
#sdhs-logo {
  width: 70%;
}

#info {
  font-size: 1.6em;
  flex-direction: column;
  margin-top: 5%;
}

footer #info div a {
  text-decoration: none;
  color: #00265b;
}

#social-links {
  justify-content: center;
  font-size: 3em;
  margin-top: 5%;
}

#facebook,
#twitter,
#instagram {
  margin-left: 5%;
  margin-right: 5%;
}

.fa-facebook-square {
  color: #dba24e;
}

.fa-twitter-square {
  color: #f0ba3c;
}

.fa-instagram {
  color: #e6a039;
}

/*
 * ─── 1440PX AND UP STYLES ────────────────────────────────────────────────────────
 */
@media screen and (min-width: 1440px) {
  #top-bar,
  #middle-section {
    padding-left: 7.3%;
    padding-right: 7.3%;
  }
  /*
  ** --- NAVBAR STYLES ---
  **/
  #top-bar {
    height: 12.6%;
  }

  .title {
    font-size: 3em;
    letter-spacing: 0.08em;
  }

  .subtitle {
    font-size: 1.8em;
    letter-spacing: 0.08em;
  }


  #navbarToggler {
    visibility: hidden;
  }

  #home-button a {
    text-decoration: none;
    color: #00265b;
  }

  #home-button a p{
    width: calc(55 / 1920 * 100vw);
    height: calc(55 / 1920 * 100vw);
  
    border-radius: 50%;
    border: 1px solid #00265b;
  
    font-family: "Optima", sans-serif;
    font-size: 1.6em;

    visibility: visible;
  }

  /*
  ** --- MIDDLE SECTION STYLES ---
  **/

  /* logo */
  #logo {
    position: fixed;
    top: 40vh;
    left: 0;

    padding-left: 7.3%;
  }

  #logo a img {
    padding-left: 15px;
    width: 90%;
  }

  #date {
    position: relative;
    padding-left: 15px;
  }

  /*
  ** --- FOOTER STYLES ---
  **/
  footer {
    padding-left: 7.3%;
    padding-right: 7.3%;
  }

  #info {
    flex-direction: row;
    margin-top: 0;
  }

  #sdhs-logo {
    width: 90%;
  }

  #social-links {
    justify-content: flex-end;
    margin-top: 0;
  }

  #facebook,
  #twitter {
    margin-left: 7%;
    margin-right: 7%;
  }

  #instagram {
    margin-left: 7%;
  }
}
