/*
 * --- GLOBAL STYLES ---
 */
 html,
 body {
   height: 100vh;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: "Optima", sans-serif;
 
   background-color: #C7FFF4;
   color: #00265b;
 }
 
 /*
   ** --- NAVBAR STYLES ---
   **/
 #top-bar {
   height: 15%;
   z-index: 3;
 
   font-family: "Cormorant Garamond", serif;
 }
 
 .title {
   font-size: 20px;
   letter-spacing: 0.2px;
 }
 
 .subtitle {
   font-size: 14px;
   letter-spacing: 0.1px;
 }
 
 #home-button {
   visibility: hidden;
 }
 
 #btn-navbar {
   position: absolute;
   right: 0;
 
   color: rgba(0, 0, 0, 0.5);
 
   width: 35px;
   height: 35px;
 
   font-size: 14px;
 
   border-radius: 50%;
   border: 1px solid #00265b;
   /* border-color:red; */
 }
 
 /* 
   ** --- MIDDLE-LEFT SECTION STYLES ---
   */
 #logo a img {
   width: 50%;
 }
 
 #date {
   font-family: "Open Sans Condensed", sans-serif;
   font-size: 14px;
   color: black;
 }

/* 
  ** --- MIDDLE-MIDDLE SECTION STYLES ---
  */
  #middle-middle {
    margin: 30px 15px;
    line-height: 1.4;
    letter-spacing: calc(0.5 / 1920 * 100vw);
  }
  
  .fas.fa-star,
  .fas.fa-heart {
    color: #981E31;
  }

  .fas.fa-star {
    transform: rotate(-15deg);
  }
  
  /*
     * --- FOOTER STYLES ---
     */
  .border-top {
    border-top: 1px solid #bcbec0 !important;
  }
  
  #sdhs-logo {
    width: 70%;
  }
  
  #info {
    font-size: 14px;
    flex-direction: column;
    margin-top: 5%;
  }
  
  footer #info div a {
    text-decoration: none;
    color: #00265b;
  }
  
  #social-links {
    justify-content: center;
    font-size: 30px;
    margin-top: 5%;
  }
  
  #facebook,
  #twitter,
  #instagram {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .fa-facebook-square {
    color: #dba24e;
  }
  
  .fa-twitter-square {
    color: #f0ba3c;
  }
  
  .fa-instagram {
    color: #e6a039;
  }
  
  /*
     * ─── 768PX AND UP STYLES ────────────────────────────────────────────────────────
     */
  @media screen and (min-width: 768px) {
    #top-bar,
    #middle-section,
    footer {
      padding-left: calc(140 / 1920 * 100vw);
      padding-right: calc(140 / 1920 * 100vw);
    }
    /*
      ** --- NAVBAR STYLES ---
      **/
    #top-bar {
      height: 12.6vh;
    }
  
    .title {
      font-size: calc(36 / 1080 * 100vh);
      letter-spacing: 0.5px;
    }
  
    .subtitle {
      font-size: calc(24 / 1080 * 100vh);
      letter-spacing: 1px;
    }
  
    #navbarToggler {
      visibility: hidden;
    }
  
    #top-bar .navbar {
      padding: 0;
    }
  
    #home-button {
      padding: 0;
    }
  
    #home-button a {
      text-decoration: none;
      color: #00265b;
    }
  
    #home-button a p {
      width: calc(60 / 1920 * 100vw);
      height: calc(60 / 1920 * 100vw);
  
      border-radius: 50%;
      border: 1px solid #00265b;
  
      font-family: "Optima", sans-serif;
      font-size: calc(16 / 1920 * 100vw);
  
      visibility: visible;
    }
  
    /*
      ** --- MIDDLE-LEFT SECTION STYLES ---
      **/
  
    /* logo */
    #logo {
      position: fixed;
      top: 40vh;
      left: 0;
  
      padding-left: calc(140 / 1920 * 100vw);
    }
  
    #logo a img {
      width: calc(150 / 1080 * 100vh);
    }
  
    #date {
      position: relative;
      font-size: calc(16 / 1920 * 100vw);
    }
  
    /* 
      ** --- MIDDLE-MIDDLE SECTION STYLES ---
      */
    #middle-middle {
      margin: calc(18 / 1920 * 100vw) 0;
      padding: 0;
  
      font-size: calc(20 / 1920 * 100vw);
      line-height: 1.4;
      letter-spacing: calc(1 / 1920 * 100vw);
    }

    #middle-middle img {
      width: calc(180 / 1920 * 100vw);
    }
  
    /* 
      ** --- MIDDLE-RIGHT SECTION STYLES ---
      */
    #middle-right {
      padding: 0;
      z-index: 3;
    }
  
    #middle-right .col-12 {
      padding: 0;
    }
  
    #middle-section .btn-primary {
      background-color: #C7FFF4;
      color: #00265b;
      border-color: #00265b;
  
      width: calc(100 / 1920 * 100vw);
      height: calc(30 / 1920 * 100vw);
      border-radius: calc(15 / 1920 * 100vw);
      font-size: calc(14 / 1920 * 100vw);
  
      padding: 0;
    }
  
    #middle-section .btn-primary:hover {
      font-weight: bold;
      border-radius: calc(15 / 1920 * 100vw);
      border: 2px solid #00265b;
    }
  
    #middle-section .page-name.card {
      position: fixed;
      top: calc(730 / 1080 * 100vh);
  
      background-color: #C7FFF4;
      border: none;
  
      width: calc(150 / 1080 * 100vh);
    }
  
    #middle-section .page-name.card p {
      font-size: calc(22 / 1080 * 100vh);
    }
  
    /*
      ** --- FOOTER STYLES ---
      **/
    #footer-logo {
      padding: 0;
    }
  
    #info {
      flex-direction: row;
      margin-top: 0;
  
      font-size: calc(16 / 1920 * 100vw);
    }
  
    #sdhs-logo {
      width: 90%;
    }
  
    #social-links {
      justify-content: flex-end;
      margin-top: 0;
    }
  
    #facebook,
    #twitter {
      margin-left: 7%;
      margin-right: 7%;
    }
  
    #instagram {
      margin-left: 7%;
    }
  }